<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="../styles.css">
    <link rel="shortcut icon" href="../img/brand.png">
    <title>AcercaDe</title>
</head>
<body>

    <div class="container">
        <!-- Navegacion -->
        <nav class="nav-main">
          <!-- Icono de la navegacion -->
          <img src="../img/brand.png" alt="TechNews Logo" class="nav-brand">
          <!-- Elementos de la izquierda -->
          <ul class="nav-menu">
            <li>
              <a href="../index.html">Inicio</a>
            </li>
            <li>
              <a href="temasPreferencia.html">Temas de preferencia</a>
            </li>
            <li>
              <a href="sitiosImportantes.html">Sitios importantes</a>
            </li>
            <li>
              <a href="#">Acerca de</a>
            </li>
          </ul>
    
          <!-- Elemento de la derecha -->
          <ul class="nav-menu-right">
            <li>
              <a href="#">
                <i class="fas fa-search"></i>
              </a>
            </li>
          </ul>
        </nav>
        <hr>

        <div class="logo-main" style="margin-top: 25px;">
          <h2>El presente proyecto cuenta con diferentes vistas solicitadas por el profesor, una de ellas tiene temas de interés común a los miembros del equipo. También se tiene una vista con sitios web importantes, el index, y esta vista que es la de la información de los miembros del equipo. Es por esto que, a continuación, se presenta la información de los integrantes. </h2>
        </div>

    </div>



    <div class="columns-container">

        <ul>
            <h2 style="text-align: center;">Sánchez Pérez Marco Antonio</h2>
            <div>
                <p>
                    Estudiante de 7 sexto semestre de Ingeniería en Computación de la Facultad de Ingeniería de la UNAM. Diseñador y desarrollador web con conocimientos en HTML, CSS, Javascript y PHP, incluso frameworks como Bootstrap y Laravel.
                </p>
                <div class="container-lista">
                  <ul> 
                    <li>Gusto por el futbol</li>
                    <li>Gusto por los videojuegos</li>
                  </ul>
                </div>
                
            </div>

            <div>
                <img src="../img/futbol.png" alt="Futbol">
            </div>
        </ul>

        <ul>
          <h2 style="text-align: center;">Báez Cadena Duilio Giovani</h2>
          <div>
              <p>
                  Estudiante de 5 quinto semestre de Ingeniería en Computación de la Facultad de Ingeniería de la UNAM. Administrador de servidores Linux con conocimientos en MySQL, Apache, GNU/Linux y PHP.
              </p>
              <div class="container-lista">
                <ul> 
                  <li>Gusto musical en regueton, trap y pop</li>
                  <li>Gusto por el futbol (Barcelona y América)</li>
                </ul>
              </div>
              
          </div>

          <div>
              <img src="../img/musica.png" alt="Musica">
          </div>
      </ul>

      <ul>
        <h2 style="text-align: center;">Lorem ipsum dolor sit amet.</h2>
        <div>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi nisi totam perspiciatis, nesciunt quo id blanditiis suscipit odit quisquam fugiat, animi pariatur ullam. Rem, repellat?
            </p>
            <div class="container-lista">
              <ul> 
                <li>Lorem ipsum dolor sit amet, consectetur, beatae!</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
              </ul>
            </div>
            
        </div>

        <div>
            <img src="../img/image.png" alt="Musica">
        </div>
    </ul>

    </div>





      <!-- Ligas del Footer o pie de pagina -->
  <div class="footer-links">
    <div class="footer-container">
      <ul>
        <li>
          <a href="#">
            <h3>Titulo uno</h3>
          </a>
        </li>
        <li>
          <a href="#">Desarrollo movil</a>
        </li>
        <li>
          <a href="#">Machine Learning e IA</a>
        </li> 
      </ul>
      <ul>
        <li>
          <a href="#">
            <h3>Titulo dos</h3>
          </a>
        </li>
        <li>
          <a href="#">Programacion</a>
        </li>
        <li>
          <a href="#">Desarrollo web</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="#">
            <h3>Titulo tres</h3>
          </a>
        </li>
        <li>
          <a href="#">Startups</a>
        </li>
        <li>
          <a href="#">Ciberseguridad</a>
        </li>
      </ul>
    </div>
  </div>


  <!-- Footer o pie de pagina -->
  <footer class="footer">
    <h3>Equipo Sistemas Operativos</h3>
  </footer>

  
    
</body>
</html>