<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="../styles.css">
  <link rel="shortcut icon" href="../img/brand.png">

  <title>temasPreferencia</title>
</head>
<body>

  <div class="container">
      <!-- Navegacion -->
      <nav class="nav-main">
        <!-- Icono de la navegacion -->
        <img src="../img/brand.png" alt="TechNews Logo" class="nav-brand">
        <!-- Elementos de la izquierda -->
        <ul class="nav-menu">
          <li>
            <a href="../index.html">Inicio</a>
          </li>
          <li>
            <a href="#">Temas de preferencia</a>
          </li>
          <li>
            <a href="sitiosImportantes.html">Sitios importantes</a>
          </li>
          <li>
            <a href="acercaDe.html">Acerca de</a>
          </li>
        </ul>
  
        <!-- Elemento de la derecha -->
        <ul class="nav-menu-right">
          <li>
            <a href="#">
              <i class="fas fa-search"></i>
            </a>
          </li>
        </ul>
      </nav>
      <hr>



    <!-- Imagen principal -->
    <header class="showcase2">
      <h2>Temas de preferencia</h2>
      <p>Lenguajes de programación y tecnologías enfocados en el desarrollo web.</p>
      <a href="#Tecnologias" class="btn">
        Tecnologias <i class="fas fa-chevron-right"></i>
      </a>
    </header>


    <!--Texto entre la imagen principal y los dempas elementos-->
    <div class="logo-main">
      <img src="../img/image.png" alt="">
      <h2 id="Tecnologias">Temas enfocados en el desarrollo web: </h2>
    </div>


    <!-- Targetas o elementos varios -->
    <div class="news-cards">
      <div>
          <img src="../img/css.jpg" alt="" />
          <a href="https://www.w3schools.com/css/">
            <h3>CSS Cascade Style Sheet</h3>
          </a>
        <p>CSS (en inglés Cascading Style Sheets) es lo que se denomina lenguaje de hojas de estilo en cascada y se usa para estilizar elementos escritos en un lenguaje de marcado como HTML. CSS separa el contenido de la representación visual del sitio.
        </p>
        <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
      </div>
      <div>
        <img src="../img/html.jpg" alt="" />
        <a href="https://www.w3schools.com/html/">
          <h3>HTML HiperText Markup Language</h3>
        </a>
        <p>El lenguaje html (hypertext markup language) se utiliza para el desarrollo y creación de páginas web. Se compone de una serie de etiquetas que el navegador interpreta. Entre las etiquetas que se incluyen dentro del lenguaje HTML se encuentran: hipervínculos, etiquetas para imágenes, saltos de página, entre otras.
        </p>
        <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
      </div>
      <div>
        <img src="../img/js.jpeg" alt="" />
        <a href="https://www.w3schools.com/js/">
          <h3>Javascript Lenguaje de Scripts</h3>
        </a>
        <p>JavaScript es el lenguaje de programación que debes usar para añadir características interactivas a tu sitio web, (por ejemplo, juegos, eventos que ocurren cuando los botones son presionados o los datos son introducidos en los formularios, efectos de estilo dinámicos, animación, y mucho más).
        </p>
        <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
      </div>
      <div>
        <img src="../img/bootstrap.png" alt="" />
        <a href="https://www.w3schools.com/bootstrap/bootstrap_get_started.asp">
          <h3>Bootstrap Web Framework</h3>
        </a>
        <p>Bootstrap es un marco CSS gratuito y de código abierto dirigido al desarrollo web front-end receptivo y móvil. Contiene plantillas de diseño basadas en HTML, CSS y JavaScript para tipografía, formularios, botones, navegación y otros componentes de la interfaz.
        </p>
        <a href="#">Learn More <i class="fas fa-angle-double-right"></i></a>
      </div>
    </div>




  </div>

    <!-- Ligas del Footer o pie de pagina -->
    <div class="footer-links">
      <div class="footer-container">
        <ul>
          <li>
            <a href="#">
              <h3>Titulo uno</h3>
            </a>
          </li>
          <li>
            <a href="#">Desarrollo movil</a>
          </li>
          <li>
            <a href="#">Machine Learning e IA</a>
          </li> 
        </ul>
        <ul>
          <li>
            <a href="#">
              <h3>Titulo dos</h3>
            </a>
          </li>
          <li>
            <a href="#">Programacion</a>
          </li>
          <li>
            <a href="#">Desarrollo web</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#">
              <h3>Titulo tres</h3>
            </a>
          </li>
          <li>
            <a href="#">Startups</a>
          </li>
          <li>
            <a href="#">Ciberseguridad</a>
          </li>
        </ul>
      </div>
    </div>
  
  
    <!-- Footer o pie de pagina -->
    <footer class="footer">
      <h3>Equipo Sistemas Operativos</h3>
    </footer>
  

  
</body>
</html>