<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="../styles.css">
    <link rel="shortcut icon" href="../img/brand.png">
    <title>Sitios</title>
</head>
<body>

    <div class="container">
        <!-- Navegacion -->
        <nav class="nav-main">
          <!-- Icono de la navegacion -->
          <img src="../img/brand.png" alt="TechNews Logo" class="nav-brand">
          <!-- Elementos de la izquierda -->
          <ul class="nav-menu">
            <li>
              <a href="../index.html">Inicio</a>
            </li>
            <li>
              <a href="temasPreferencia.html">Temas de preferencia</a>
            </li>
            <li>
              <a href="#">Sitios importantes</a>
            </li>
            <li>
              <a href="acercaDe.html">Acerca de</a>
            </li>
          </ul>
    
          <!-- Elemento de la derecha -->
          <ul class="nav-menu-right">
            <li>
              <a href="#">
                <i class="fas fa-search"></i>
              </a>
            </li>
          </ul>
        </nav>
        <hr>

        <div class="logo-main" style="margin-top: 25px;">
            <img src="../img/image.png" alt="">
            <h2>Sitios de interés</h2>
          </div>
      


        <div class="barraLateral">
            <article>

                <h1>UNAM</h1>
    
                <a href="https://www.unam.mx/">
                    <img src="../img/unam.jpg" alt="UNAM">
                </a>

                <p>La Universidad Nacional Autónoma de México (UNAM) es una universidad pública mexicana. Destaca como una de las mejores universidades de América Latina y de las más activas en materia artística, tecnológica y de investigación. Mantiene una tasa de aceptación muy selectiva de los aspirantes al nivel superior; debido a una alta demanda y a su carácter público, laico y gratuito. Por otro lado, tiene la mayor matrícula estudiantil de todas las universidades de América Latina, y cuenta con uno de los campus más grandes del mundo. Sus numerosas publicaciones e investigaciones en todas las áreas del conocimiento la convierten en la institución mexicana con mayor producción científica. Todos los mexicanos laureados con el Premio Nobel han pasado por esta casa de estudios.
                </p>


                <h1>Facultad de Ingeniería</h1>
    
                <a href="https://www.ingenieria.unam.mx/">
                    <img src="../img/fi-unam.jpg" alt="FI-UNAM">
                </a>

                <p>La Facultad de Ingeniería es la dependencia de la Universidad Nacional Autónoma de México (UNAM) encargada de crear ingeniería: civil, geomática, geofísica, geológica, de minas y metalurgia, petrolera, eléctrica y electrónica, en computación, en telecomunicaciones, mecánica, industrial, mecatrónica y en sistemas biomédicos. Está ubicada frente a la alberca olímpica del campus, entre las facultades de Química y Arquitectura. Cuenta además con el conjunto sur en donde se encuentra la División de Ciencias Básicas en donde se imparten las asignaturas básicas que son la base para el estudiante de cualquier ingeniería, además en el mismo lugar, se imparten los estudios de postgrado. 
                </p>
    

            </article>
            <aside>
                <h1>Cursos UNAM</h1>
    
                <a href="https://www.coursera.org/unam">
                    <img src="../img/unam-coursera.jpg" alt="UNAM cursos">
                </a>
                    <p>La Universidad Nacional Autónoma de México fue fundada el 21 de septiembre de 1551 con el nombre de la Real y Pontificia Universidad de México. Es la más grande e importante universidad de México e Iberoamérica. Tiene como propósito primordial estar al servicio del país y de la humanidad, formar profesionistas útiles a la sociedad, organizar y realizar investigaciones, principalmente acerca de las condiciones y problemas nacionales, y extender con la mayor amplitud posible, los beneficios de la cultura.
                </p>


                <h1>Idiomas UNAM</h1>
    
                <a href="https://enallt.unam.mx/">
                    <img src="../img/english.jpg" alt="UNAM english">
                </a>
                    <p>La Escuela Nacional de Lenguas, Lingüística y Traducción (ENALLT), anteriormente conocida como Centro de Enseñanza de Lenguas Extranjeras (CELE), es una entidad académica de estudios superiores adscrita a la Universidad Nacional Autónoma de México (UNAM). Sus actividades están orientadas principalmente a la enseñanza de lenguas dentro y fuera de la comunidad universitaria, así como a la formación de profesores en dicha área y a la investigación en lingüística aplicada. El 27 de marzo de 2017 el Consejo Universitario de la UNAM aprobó la creación de la escuela al incorporarse dos licenciaturas a la oferta académica original del CELE: la Licenciatura en Traducción y la Licenciatura en Lingüística Aplicada.
                </p>

                <h1>DIE FI UNAM</h1>
    
                <a href="https://www.fi-b.unam.mx/">
                    <img src="../img/die-fi.png" alt="DIE FI UNAM">
                </a>
                    <p>División de Ingeniería Eléctrica de la Facultad de Ingeniería. División en donde se encuentran carreras como Computación, Eléctrica-electrónica y Telecomunicaciones.
                </p>
            </aside>
        </div>

    </div>
  
      <!-- Ligas del Footer o pie de pagina -->
  <div class="footer-links">
    <div class="footer-container">
      <ul>
        <li>
          <a href="#">
            <h3>Titulo uno</h3>
          </a>
        </li>
        <li>
          <a href="#">Desarrollo movil</a>
        </li>
        <li>
          <a href="#">Machine Learning e IA</a>
        </li> 
      </ul>
      <ul>
        <li>
          <a href="#">
            <h3>Titulo dos</h3>
          </a>
        </li>
        <li>
          <a href="#">Programacion</a>
        </li>
        <li>
          <a href="#">Desarrollo web</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="#">
            <h3>Titulo tres</h3>
          </a>
        </li>
        <li>
          <a href="#">Startups</a>
        </li>
        <li>
          <a href="#">Ciberseguridad</a>
        </li>
      </ul>
    </div>
  </div>


  <!-- Footer o pie de pagina -->
  <footer class="footer">
    <h3>Equipo Sistemas Operativos</h3>
  </footer>

    
</body>
</html>